version: "2"
services:
  web:
    build: .
    container_name: my-lamp-web
    image: "hihatconsulting/my-lamp-web:latest"
    ports:
      - "80:80"
    links:
      - db
    volumes:
      - "./deploy:/public_html"
    restart: always
  db:
    container_name: my-lamp-db
    # image: "mysql:5"
    image: "hihatconsulting/my-lamp-db:latest"
    volumes:
      - "./mysql:/etc/mysql/conf.d"
      - "./.data/db:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_php_app
      MYSQL_USER: test_app_user
      MYSQL_PASSWORD: test_app_password
